#---------------------------------#
#      General configuration      #
#---------------------------------#

image: Visual Studio 2017

version: 0.6.0.{build}

branches:
  only:
    - master
    - develop

configuration:
- Debug
- Release

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'

environment:
  COVERALLS_REPO_TOKEN:
    secure: ZM3cfILSeJIYHKAvV+/wa5Smu9spteVYfCGlreP6jXRKRryNL8rqwXDKrUD+KnMc    

hosts:
  api.nuget.org: 93.184.221.200

#---------------------------------#
#       Build configuration       #
#---------------------------------#

before_build:
  - cmd: nuget restore .\Source\WbTstr.sln

build:
  project: .\Source\WbTstr.sln
  publish_nuget: true
  verbosity: minimal

test_script:
  - ps: .\Scripts\AppVeyor\test_script.ps1