<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <webDriverConfig name="chrome">
    <proxy kind="Manual" isAutoDetect="false">
      <ftpProxy>value</ftpProxy>
      <httpProxy>value</httpProxy>
      <noProxy>value</noProxy>
      <proxyAutoConfigUrl>value</proxyAutoConfigUrl>
      <sslProxy>value</sslProxy>
      <socksProxy>value</socksProxy>
      <socksUsername>value</socksUsername>
      <socksPassword>value</socksPassword>
    </proxy>
    <capabilities>
      <capability key="a" value="" />
    </capabilities>
    <arguments>
      <argument key="start-maximized" />
    </arguments>
    <extensions>
      <extension filePath="value" isEncoded="true" />
    </extensions>
  </webDriverConfig>
</configuration>