<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="preset1" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <preset1>
    <add key="args" value="start-maximized" />
    <!--<add key="debuggerAddress" value="127.0.0.1:38947" /> -->
  </preset1>

</configuration>